/* Tema Light */
body.light {
  background-color: #F8F9FA;
  color: #1F1F1F;
}

/* Tema Dark */
body.dark {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

/* Cards */
body.light .card {
  background: white;
  border: 1px solid #EDEDED;
}

body.dark .card {
  background: #2b2b2b;
  border: 1px solid #444;
}

/* Divisores */
body.dark .divider {
  background: #444;
}

/* Botões */
body.light .project-btn {
  background: #4F8BF9;
}

body.dark .project-btn {
  background: #6b9cff;
}

/* Footer */
body.dark .footer {
  color: #ccc;
}

.footer a {
  color: #4F8BF9;
}
